.clearfix {
  &:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
}

@mixin placeholder($params) {
  &::-webkit-input-placeholder {
    color: $params;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $params;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $params;
    opacity: 1;
  }
  &::placeholder {
    color: $params;
    opacity: 1;
  }
}